In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('train.csv')

In [5]:
df.shape

(404290, 6)

In [6]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [7]:
new_df = df.sample(30000)

In [8]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [9]:
new_df.duplicated().sum()

0

In [10]:
ques_df = new_df[['question1','question2']]
ques_df.head()

,question1,question2
4683,What is working of multiple profiles in titani...,How can I create a bootable backup of my MacBo...
199976,How do I gain access to a person's instagram p...,How do I look at someone's Instagram when it's...
368987,How can I stop smoking a cigarette?,How can I stop smoking?
70562,How is a Scorpio ascendant’s career affected b...,Is it so that a dominant planet can affect one...
179480,How is CGPA calculated for a semester in NIT T...,How much CGPA is required to do a minor in com...

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)

q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [12]:
temp_df1  = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2  = pd.DataFrame(q2_arr, index= ques_df.index)

temp_df = pd.concat([temp_df1, temp_df2] , axis = 1)
temp_df.shape

(30000, 6000)

In [13]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
4683,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199976,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
368987,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70562,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179480,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112478,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
129900,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
282725,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
138693,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
264308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
temp_df['is_duplicte'] = new_df['is_duplicate']

In [17]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicte
4683,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199976,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
368987,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
70562,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179480,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf  = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test , y_pred)

0.7423333333333333

In [20]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train , y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test,y_pred)

0.7318333333333333